body{
    margin:0;
}

.map-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.map{
    position:relative;

    width:90vw;
    max-width:1400px;

    aspect-ratio:1414 / 842;
}

.map img{
    width:100%;
    height:100%;

    display:block;
}

.pin{
    position:absolute;

    width:18px;
    height:18px;

    background:red;

    border-radius:50%;

    cursor:pointer;

    z-index:20;

    transition:.2s;
}

.pin:hover{
    transform:scale(1.4)
}

.popup img{
    width:100%;
    display:block;
}

.popup h3{

    margin:20px 0;

    text-align:center;

    font-size:28px;

    font-weight:700;

}

.popup{

    position:fixed;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    display:none;

    width:550px;

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

    z-index:1000;

    pointer-events:none;

}